#Ignore Everything first
*

#Donot hide sub-folders
!*/

#Donot ignore gitignore
!*.gitignore

#Code files not to ignore
!*.c
!*.h
!*.v
!*.sv
!*.vhd
!*.vhdl

#Documents not to ignore
!*.doc*
!*.pdf
!*.xls*

#Image files not to ignore
!*.jpg
!*.png

#Binary Files not to ignore
!*.bin
!*.elf
!*.hex
!*.out
!*.map

#Cadence Incisive Files not to ignore
!*.history
!*.log
!*.key

#IDE project files not to ignore

#Folders to ignore


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app